form {
  max-width: 35%;
}

button {
  appearance: none;
  border: none;
  padding: .5rem .8rem;
  border-radius: .2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: .4rem;
}

li label {
  display: inline-block;
  width: 10ch;
  text-align: right;
  margin-right: .4rem;
}

form li:last-child {
  text-align: center;
}